<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{%static 'style/style.css' %}">

    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css'%}">
    <title>{{data.sarlavha}}</title>
</head>
<body>
<center>
    <div class="container">
        <br>
        <br>
        <h1>{{data.sarlavha}}</h1>
        <br>
         <h4>{{data.sana}}</h4>
        <div class="row">
            <div class="col-12">
                <img src="{{data.rasm.url}}" alt="">
        <br>
        <br>
                <p>{{data.matn}}</p>


            </div>
        </div>
        <div class="row footer">
            <p>Live your life</p>
        </div>
    </div>
    </center>
</body>
</html>